.background {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
    padding-bottom: 81px;
}

.container {
    width: 1060px;
    margin: 0 auto;
    padding: 46px 138px 20px;
    font-family: Verdana,sans-serif;
}
/*--------------------------------LOGO-----------------------------------------------*/
.promo{
    display: flex;
    flex-basis: 166px;
    flex-direction: row;
    align-content: flex-start;
}
.logo{
    width: 46px;
    height: 44px;
    background-image: url("../img/logo1.png");
    align-self:stretch;
}
.logo-right {
    margin-left: 15px;
    flex-wrap: wrap;
    width: 104px;
    align-content:flex-end;
}
.logo-text{
    color:#ffffff;
    font-size: 29px;
    font-weight: 700;
    line-height: 21px;
    padding-bottom: 7px;
}
.logo-text-small{
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
}
.promo:hover p{
    color: #f26522;
}
.promo:hover .logo{
    background-image: url("../img/logo.png");
}
/*-----------------------LOGO END--------------------------------------*/

.contacts{
    color:  #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: right;
    line-height: 1.5;
}
.header{
    margin-bottom:48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}/*-----------------UPPER AND BELOW--------------------------------*/
.upper{
    display: flex;
}
.below{
    display: flex;
}
.orange{
    display: flex;
    position: absolute;
    width: 281px;
    justify-content: space-between;
    padding-right:10px;
    padding-left: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
    margin-top: -73px;
    background-color: #f26522;
    transition: all 0.4s linear;
    opacity: 0;
}
.info-left {
    color:  #ffffff;
    font-size: 10px;
    font-weight: 400;
    line-height: 21px;
}
.info-left p:nth-child(2){
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 21px;
}
.info-right {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    align-self:flex-end;
}
h6{
    color:#ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    margin-top: 22px;
}

.block-example{
    margin-right: 69px;
    margin-bottom: 98px;
}
.block-example img{
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom, #ffffff 0%, #000000 60%);
    border-image-slice: 1;
    box-shadow: 0 5px 10px 1px black;
}
.block-example:nth-child(3){
    margin-right: 0;
}
.block-example:hover .orange {
    opacity: 1;
}
.block-example:hover h6 {
    color:#f26522;
}
 a{
    text-decoration: none;
}
.container h5{
    display: flex;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    justify-content: center;
}
